DATABASE_URL="postgresql://neondb_owner:npg_5WA9HMhrZVYD@ep-holy-frog-a1kg1kln-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT="mysecret"
JWT_SECRET="mysecret"
PORT=3000